{% extends "layout_cn.html" %}

{% block content %}
<br>
    <div>
        <div class="row">
            <h1>1 同质性分析 - VarietyFace</h1>
        </div>
        <div class="row">
            <h2>1.1 背景</h2>
            <p>同质性（Homogeneity）是统计学中常用的对生物组织的均匀性进行评价的概念，与异质性（Heterogeneity）相对。如果某生物组织由特征相同的单元组成，那么就可以说该组织是同质的。拓展到品种，若某品种由特征相同或接近的个体组成，那么该品种具有同质性，对品种内部个体均匀性的估计则为品种同质性评估。</p>
            <p>我们从中国水稻所国家品种库中选取籼稻和粳稻品种各5个（合计10个品种），进行田间种植观测生长整齐度；每个品种随机挑选5个单株进行基因组重测序（共产生了约360Gb的数据，平均测序深度16×）。同时，从公共数据库中筛选了15个水稻品种基因组数据（同一品种但基因组数据递交单位不同，单位数量 ≥ 3个，样本平均测序深度 ≥ 3×），用于本研究评估方法的验证。</p>
            <p>对10个国家品种库品种内和之间进行遗传差异分析，利用进化树、IBS距离等分析，发现水稻品种间差异显著大于品种内部，且单个品种内个体间基因组差异存在一定阈值。进一步利用核苷酸序列多样性（π）分析品种内差异，并利用π作为评价品种同质性指标：10个重测序品种中，5个粳型品种内部个体间平均π值均小于0.003（该值由此作为评价阈值），籼型品种内阈值约为0.008。基于公共数据库15个品种内平均π值，其分布与本研究测序所得的阈值基本相符。通过对个体进行全基因组杂合率滑窗分布分析，发现品种内个体间变异分布模式一致，而品种间分布差异明显，由此提出了“全基因组杂合率多态性指纹”概念，为水稻品种同质性评估与品种审定提供新的思路。
                </p>
        </div>
        <div class="row">
            <h2>1.2 同质性分析流程 </h2>
            <div class="col-1"></div>
            <div class="col-10">
                <img src="{{ url_for('v1.static', filename='img/homoanalysis.png') }}" alt="VarietyFace" class="img-fluid" >
            </div>
            <div class="col-1"></div>
        </div>
        <div class="row">
            <ol>
                <li>
                    首先，用户将待检测的材料（此处记为XX）进行NGS重测序，进行质控，以粳稻基因组Nipponbare（IRGSP-1.0）作为参考基因组进行比对及变异检测(5)。按照QUAL ≥ 30，DP ≥ 10，QD ≥ 2，并且按照最小次等位基因频率（minor allele frequency）0.05，最大缺失率（max missing）0.8的标准对变异位点进行过滤。将所得VCF文件通过bgzip压缩的后，通过本平台网页端提交。
                </li>
                <li>
                    同质性分析平台主要提供两种分析：
                    <ol>
                        <li>
                            若XX品种信息未知，或可能为新品种，将进行全品种同质性比较。具体包括:
                            <ul>
                                <li>
                                    首先， XX与“核心品种”集比较，确定与之最为接近的核心品种以及核心品种对应的分组；
                                </li>
                                <li>
                                    确定分组后XX与指定分组中的所有品种进行两两核苷酸序列多样性比较，对两两核苷酸序列多样性最低的组合（XX与YY）进行全基因组滑窗杂合率分析；
                                </li> 
                                <li>
                                    XX与分组所有品种一同构建进化树。若XX与YY满足：进化树中紧密处于同一分支、两两核苷酸序列多样性低于阈值并且全基因组滑窗杂合率分布模式相同三个条件，则可判断XX与YY的品种同质性很高，很可能为同一品种了。
                                </li>
                            </ul>
                        </li>
                        <li>
                            若XX品种信息已知，并且本平台收录了相应品种，则XX将仅与平台中的对应品种进行同质性分析，最终将得到两者的核苷酸序列多样性以及全基因组滑窗杂合率分析结果。最终在品种同质性评估任务完成后，系统自动将分析结果与报告打包发送至用户提交的邮箱地址，供进一步分析与评判。
                        </li>
                    </ol>
                </li>
            </ol>        
        </div>
    </div>
{% endblock %}