{% extends "layout.html" %}


{% block content %}
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#introduction">Introduction</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#download">Download</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#ml">ML</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#upload">Upload</a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div id="introduction" class="card mt-4">
                <div class="card-header">
                    <h3>Introduction</h3>
                </div>
                <div class="card-body">
                    <p class="card-text">Breeding 4.0 seeks to enhance breeding efficiency and precision by combining
                        digital and biological technologies to achieve a faster, more efficient and more accurate
                        breeding process. relies on big data, artificial intelligence, machine learning and genome
                        editing technologies to collect, integrate and analyse large amounts of crop genomic, phenotypic
                        and environmental data to predict phenotypic traits in plants and to target breeding on this
                        basis. </p>
                    <p class="card-text">We have developed BreedingAI, a user-friendly database that provides breeders
                        and machine learning experts with easy access to genome-phenotype pair data. It provide two
                        types of unstructured data: GVCF(genomic VCF) files and VCF files, along with one type of
                        structured data which is extracted from vcf files by GSCtool, to facilitate research in breeding
                        machine learning.</p>
                </div>
            </div>

            <div id="download" class="card mt-4">
                <div class="card-header">
                    <h3>Download</h3>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Rice</h4>
                    <p class="card-text">This is the download section of the Help module.</p>
                    <h4 class="card-title">Zea</h4>
                    <p class="card-text">This is the download section of the Help module.</p>
                    <h4 class="card-title">Soybean</h4>
                    <p class="card-text">This is the download section of the Help module.</p>
                </div>
            </div>

            <div id="ml" class="card mt-4">
                <div class="card-header">
                    ML
                </div>
                <div class="card-body">
                    <h5 class="card-title">ML</h5>
                    <p class="card-text">This is the ML section of the Help module.</p>
                </div>
            </div>

            <div id="upload" class="card mt-4">
                <div class="card-header">
                    Upload
                </div>
                <div class="card-body">
                    <h5 class="card-title">Upload</h5>
                    <p class="card-text">This is the upload section of the Help module.</p>
                </div>
            </div>
        </main>
    </div>
</div>
{% endblock %}