<!--
 * @Author: shenzijie
 * @Date: 2022-10-17 00:43:37
 * @LastEditors: shenzijie
 * @LastEditTime: 2023-08-28 01:35:44
 * @Email: shenzijie2013@163.com
-->
{% extends "layout.html" %}

{% block content %}

<section id="download_intruduction">
    <div class="container">     
        <h1 class="mt-4 ">Major crops in BreedingAIDB</h1>
        <div class="border center-block"></div>
        <div class="row mt-4">
            <div class="col-md-4 mb-4">
                <a href="{{ url_for('v1.download', spiece='rice') }}">
                    <div class="text-center">
                        <img src="{{ url_for('v1.static', filename='rice_download_icon.jpg') }}" alt="Rice"
                            class="rounded-circle" width="150" height="150">
                        <h4 class="mt-2">Rice</h4>
                    </div>
                </a>
                <p class="lead">129, 449 rice genome-phenotype pairs available <a href="{{ url_for('v1.download', spiece='rice') }}">here</a> for validation of machine learning tools or construction of machine learning models.</p>
            </div>
        
            <div class="col-md-4 mb-4">
                <a href="{{ url_for('v1.download', spiece='soybean') }}">
                    <div class="text-center">
                        <img src="{{ url_for('v1.static', filename='soy_down_icon.jpg') }}" alt="Soybean"
                            class="rounded-circle" width="150" height="150">
                        <h4 class="mt-2">Soybean</h4>
                    </div>
                </a>
                <p class="lead">16, 284 soybean genome-phenotype pairs available <a href="{{ url_for('v1.download', spiece='soybean') }}">here</a> for validation of machine learning tools or construction of machine learning models.</p>
            </div>
        
            <div class="col-md-4 mb-4">
                <a href="{{ url_for('v1.download', spiece='zea') }}">
                    <div class="text-center">
                        <img src="{{ url_for('v1.static', filename='zea_down_icon.png') }}" alt="Zea" class="rounded-circle"
                            width="150" height="150">
                        <h4 class="mt-2">Zea</h4>
                    </div>
                </a>
                <p class="lead">284, 395 zea genome-phenotype pairs available <a href="{{ url_for('v1.download', spiece='zea') }}">here</a> for validation of machine learning tools or construction of machine learning models.</p>
            </div>
        </div>
    </div>
</section>


<div class="container">
    <div class="row mt-4">
        <p class="lead">Breeding is a crucial component of human agricultural production, and in order to meet the ever-increasing
            demand for food, it is imperative that we continually enhance the yield and quality of our crops. ML in
            breeding still faces many challenges and limitations, such as data, algorithm selection, and other issues.
        </p>
        <p class="lead">We gathered genome-phenotype pair data for three crops that are currently accessible to the public. The
            processing of genome resequencing data followed the best practice guidelines established by the Genome
            Sequencing and Analysis (GSA) team at the Broad Institute's GATK development team.</p>
    </div>
</div>


<!-- 内容结束 -->
{% endblock %}