{% extends "layout.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('v1.static', filename='icon/iconfont.css') }}">
<style>
    .gradient-background {
        background: linear-gradient(to right, #69696b, #f8faf8);
    }

    /* Add your home page styles here */
    .nav-bg {
        position: relative;
        overflow: hidden;
        /* 用于包含 ::before 中的伪元素 */
    }

    .nav-bg::before {
        content: '';
        position: absolute;
        filter: none;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)),
        url({{ url_for('v1.static', filename='img/background1.jpg')}}) no-repeat center center / cover;
        /*opacity: 0.6;  设置背景图片的透明度 */
        z-index: -1;
    }

    #introduction {
        background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.6)),
        url({{ url_for('v1.static', filename='img/middle-bg.jpg')}}) no-repeat center center / cover;
    }

    .blue-gradient {
        background: -webkit-linear-gradient(left, rgb(1, 39, 136), rgb(187, 211, 241));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
</style>
{% endblock %}

{% block script %}
{{ super() }}
<script src="https://gw.alipayobjects.com/os/antv/pkg/_antv.g6-3.7.1/dist/g6.min.js"></script>
{% endblock %}


{% block summary %}
<div class="container">
    <div class="row col-md-10 mx-auto p-3 m-3">
        <h1 class="text-white">BreedingAIDB: a database integrating crop genome-to-phenotype paired data with machine learning tools applicable in crop breeding</h1>
        <p class="text-white fs-4 mt-3">Welcome to BreedingAIDB, where we provide crop genome-to-phenotype paired data
            and powerful machine learning (ML) tools.</p>
    </div>
</div>
{% endblock %}

{% block content %}

<section id="About" class="container">
    <div class="container m-3">
        <div class="d-flex justify-content-center">
            <div class="row col-md-10 align-items-center">
                <div class="col-md-7">
                    <h1 class="blue-gradient">BreedingAIDB <small>Release 1.0</small> </h1>
                    <p class="lead mt-3" style="text-align: justify;">Release 1.0 comprises 143,477 rice G2P paired data,
                        284,395 soybean G2P paired data and 12,654 maize G2P paired data. It also provides three core
                        functional modules: Feature Extraction, Phenotype Prediction, and ML Project.</p>
                </div>
                <div class="col-md-4">
                    <img class='rounded float-end' src="{{ url_for('v1.static', filename='img/crop-rice.jpg') }}"
                        alt="rice-crop" style="height: 400px;width=400px">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="introduction">
    <div class="container d-flex align-items-center" style="height: 300px;">
        <div class="row col-md-10 mx-auto p-4">
            <h1 class="blue-gradient">About</h1>
            <p class="lead mt-3"> We are dedicated to collecting, organizing, and sharing genome-to-phenotype pair data
                for various crops, aiming to support research in ML for breeding. we hope to develop or integrate
                various tools to advance the application of ML in breeding. Our aspiration is for BreedingAIDB to serve
                as a bridge connecting researchers across different fields, facilitating the integration of machine
                learning into breeding technology for enhanced agricultural production.</p>
        </div>
    </div>
</section>

<section id="crops" class="bg-info bg-opacity-10 p-3">
    <div class="container">
        <div class="bg-white m-3 p-3 rounded d-flex justify-content-center">
            <div id="crops-detail" class="col-md-10">
                <h1 class="blue-gradient mt-5 ">Crops in BreedingAIDB</h1>
                <div class="row d-flex justify-content-around">
                    <div class="col-md bg-info p-3 rounded m-3 bg-opacity-25">
                        <a href="{{ url_for('v1.download', species='rice') }}">
                            <div class="text-center">
                                <img src="{{ url_for('v1.static', filename='rice_download_icon.jpg') }}" alt="Rice"
                                    class="rounded-circle" width="150" height="150">
                                <h4 class="mt-2">Rice</h4>
                            </div>
                        </a>
                        <p class="lead">129, 449 rice genome-to-phenotype paired data available <a
                                href="{{ url_for('v1.download', species='rice') }}">here</a>.</p>
                    </div>

                    <div class="col-md bg-info p-3 rounded m-3 bg-opacity-25">
                        <a href="{{ url_for('v1.download', species='soybean') }}">
                            <div class="text-center">
                                <img src="{{ url_for('v1.static', filename='soy_down_icon.jpg') }}" alt="Soybean"
                                    class="rounded-circle" width="150" height="150">
                                <h4 class="mt-2">Soybean</h4>
                            </div>
                        </a>
                        <p class="lead">284, 395 soybean genome-to-phenotype paired data available <a
                                href="{{ url_for('v1.download', species='soy') }}">here</a>.</p>
                    </div>

                    <div class="col-md bg-info p-3 rounded m-3 bg-opacity-25">
                        <a href="{{ url_for('v1.download', species='zea') }}">
                            <div class="text-center">
                                <img src="{{ url_for('v1.static', filename='zea_down_icon.png') }}" alt="maize"
                                    class="rounded-circle" width="150" height="150">
                                <h4 class="mt-2">Maize</h4>
                            </div>
                        </a>
                        <p class="lead">16, 284 maize genome-to-phenotype paired data available <a
                                href="{{ url_for('v1.download', species='zea') }}">here</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="process" class="m-5">
    <div class="container">
        <div id="graph-container" style="width: 100%;"></div>
    </div>
</section>

<section id="dtype" class="m-5">
    <div class="container">
        <div class="col-md-10 mx-auto p-4">
            <h1 class="blue-gradient">Type of G2P Data</h1>
            <div class="row mt-3 d-flex justify-content-around">
                <div class="col-md p-3">
                    <h4 class="blue-gradient">GVCF-to-phenotype paired data</h4>
                    <ul>
                        <li class="lead">Unstructured data</li>
                        <li class="lead">GVCF files cover all loci in the genome</li>
                    </ul>
                </div>
                <div class="col-md p-3">
                    <h4 class="blue-gradient">VCF-to-phenotype paired data</h4>
                    <ul>
                        <li class="lead">Unstructured data</li>
                        <li class="lead">VCF files contain high-quality SNP information</li>
                    </ul>

                </div>
                <div class="col-md p-3">
                    <h4 class="blue-gradient">gsctool-to-phentype paired data</h4>
                    <ul>
                        <li class="lead">Structured data</li>
                        <li class="lead">The gsctool features are generated by GSCtool</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>

<section id="tools" class="m-5">
    <div class="container">
        <div class="col-md-10 mx-auto p-4">
            <h1 class="blue-gradient">ML Tools</h1>
            <div class="row mt-3 d-flex justify-content-around">
                <div class="col-md p-3">
                    <a href={{ url_for('v1.features') }}>
                        <img class='rounded' style="height: 175px;" src={{ url_for('v1.static',
                            filename='img/feature_extract.jpg' ) }} alt="feature extraction">
                    </a>
                    <h4 class="blue-gradient mt-4">Feature Extraction</h4>
                    <p class="lead">The module utilizes GSCtool to extract
                        essential genomic features.</p>
                </div>
                <div class="col-md p-3">
                    <a href={{ url_for('v1.predict') }}>
                        <img class='rounded' style="height: 175px;" src={{ url_for('v1.static', filename='img/g2p.jpg' ) }}
                        alt="Phenotype Prediction">
                    </a>
                    <h4 class="blue-gradient mt-4">Phenotype Prediction</h4>
                    <p class="lead">The module offers predictions for grain length
                        and width of rice, which can be easily done by uploading the feature files extracted by GSCtool
                    </p>
                </div>
                <div class="col-md p-3">
                    <a href={{ url_for('v1.model') }}>
                        <img class='rounded' style="height: 175px;" src={{ url_for('v1.static', filename='img/AI2.jpg' ) }}
                            alt="ML Project">
                    </a>
                    <h4 class="blue-gradient mt-4">ML Project</h4>
                    <p class="lead">The module integrates Optuna and lightGBM to allow users to
                        customize and optimize ML models
                        for their specific research needs.</p>
                </div>

            </div>
        </div>
    </div>
</section>

<section id="related_site" class="m-5">
    <div class="container">
        <div class="col-md-10 mx-auto p-4">
            <h1 class="blue-gradient">Related sites</h1>
            <div class="row text-center mt-3">
                <div class="col-4">
                    <a href="https://brapi.org/">
                        <img style="height: 100px;" class='p-3' src={{ url_for('v1.static', filename='img/brapi-logo.svg')}} alt="Breeding API">
                        <h4 class="">BrAPI</h4>
                    </a>
                </div>
                <div class="col-4">
                    <a href="https://gramene.org/CLIMtools/">
                        <img style="height: 100px;" src={{ url_for('v1.static', filename='img/climtools.png')}} alt="Climtools">
                        <h4 class="">CLIMtools</h4>
                    </a>
                </div>
                <div class="col-4">
                    <a href="https://iagr.genomics.cn/CropGS/#/">
                        <img style="height: 100px;" src={{ url_for('v1.static', filename='img/cropgs-hub.png')}} alt="CropGS">
                        <h4 class="">CropGS-Hub</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>

</section>

<script>
    const Util = G6.Util;
    // 注册 'iconfont' 形状
    G6.registerNode('iconfont', {
        draw(cfg, group) {
            const {
                backgroundConfig: backgroundStyle,
                style,
                labelCfg: labelStyle,
            } = cfg;

            // 创建背景圆形，如果配置了背景样式的话
            if (backgroundStyle) {
                group.addShape('circle', {
                    attrs: {
                        x: 0,
                        y: 0,
                        r: cfg.size,
                        ...backgroundStyle,
                    },
                });
            }

            // 创建图标文本
            const keyShape = group.addShape('text', {
                attrs: {
                    x: 0,
                    y: 0,
                    fontFamily: 'iconfont', // 对应 CSS 里面的 font-family: "iconfont";
                    textAlign: 'center',
                    textBaseline: 'middle',
                    text: cfg.text,
                    fontSize: cfg.size,
                    ...style,
                },
            });

            // 计算标签文本的 Y 坐标位置
            const labelY = backgroundStyle ? cfg.size * 2 : cfg.size;

            // 创建标签文本
            group.addShape('text', {
                attrs: {
                    x: 0,
                    y: labelY,
                    textAlign: 'center',
                    text: cfg.label,
                    ...labelStyle.style,
                },
            });

            return keyShape;
        },
        afterDraw(cfg, group) {
            if (cfg.animateBackground) {
                // 添加背景动画的逻辑
                const r = cfg.size * 1.2;
                const delay = cfg.delay || 0; // You can set a delay if needed

                // 创建第一个背景圆
                const back1 = group.addShape('circle', {
                    zIndex: -3,
                    attrs: {
                        x: 0,
                        y: 0,
                        r,
                        fill: cfg.color,
                        opacity: 0.6,
                    },
                });

                // 创建第二个背景圆
                const back2 = group.addShape('circle', {
                    zIndex: -2,
                    attrs: {
                        x: 0,
                        y: 0,
                        r,
                        fill: cfg.color,
                        opacity: 0.6,
                    },
                });

                // 创建第三个背景圆
                const back3 = group.addShape('circle', {
                    zIndex: -1,
                    attrs: {
                        x: 0,
                        y: 0,
                        r,
                        fill: cfg.color,
                        opacity: 0.6,
                    },
                });

                // 对元素进行排序，根据 zIndex 排序
                group.sort();

                // 添加第一个背景圆的动画效果
                back1.animate(
                    {
                        r: r + 10,
                        opacity: 0.1,
                        repeat: true,
                    },
                    3000,
                    'easeCubic',
                    null,
                    0
                );

                // 添加第二个背景圆的动画效果
                back2.animate(
                    {
                        r: r + 10,
                        opacity: 0.1,
                        repeat: true,
                    },
                    3000,
                    'easeCubic',
                    null,
                    1000
                );

                // 添加第三个背景圆的动画效果
                back3.animate(
                    {
                        r: r + 10,
                        opacity: 0.1,
                        repeat: true,
                    },
                    3000,
                    'easeCubic',
                    null,
                    2000
                );
            }
        },
    });


    const COLOR = '#6699FF'; // 主要颜色
    const LABEL_COLOR = '#000000'; // 标签颜色

    const width = document.getElementById('graph-container').offsetWidth;
    const graph = new G6.Graph({
        container: 'graph-container',
        width: width,
        height: 450,
        renderer: 'svg',
        defaultNode: {
            backgroundConfig: {
                backgroundType: 'circle',
                fill: COLOR,
                stroke: 'Black',
            },
            shape: 'iconfont',
            size: 33,
            style: {
                fill: '#000',
                fontSize: 48,
            },
            labelCfg: {
                style: {
                    fill: LABEL_COLOR,
                    fontSize: 15,
                },
            },
        },
        defaultEdge: {
            style: {
                stroke: 'black',
                lineWidth: 2,
            },
        },
    });
    const data = {
        nodes: [
            { id: 'start', x: 50, y: 200, label: 'Start', text: '\ue620' },
            { id: 'gvcf', x: 350, y: 50, label: 'Unstructured: GVCF', animateBackground: true, color: '#6699FF', text: "\ue744" },
            { id: 'vcf', x: 350, y: 200, label: 'Unstructured: VCF', animateBackground: true, color: '#6699FF', text: "\ue744" },
            { id: 'gsctool', x: 350, y: 350, label: 'Structured: gsctool', animateBackground: true, color: '#6699FF', text: "\ue744" },
            { id: 'featureX', x: 750, y: 75, label: 'Feature Extraction X', text: '\ue623' },
            { id: 'Feature Extract(GSCtool)', x: 750, y: 250, label: 'Feature Extraction GSCtool', animateBackground: true, color: '#6699FF', text: '\ue623' },
            { id: 'model', x: 1150, y: 350, label: 'Model Training', animateBackground: true, color: '#6699FF', text: '\ue60a' },
            { id: 'predict', x: 1150, y: 50, label: 'Phenotype Prediction', animateBackground: true, color: '#6699FF', text: '\ue88e' },
        ],
        edges: [
            { source: 'start', target: 'gvcf' },
            { source: 'start', target: 'vcf' },
            { source: 'start', target: 'gsctool' },
            {
                source: 'gvcf', target: 'featureX', style: {
                    lineDash: [4, 4], stroke: 'black',
                    lineWidth: 2
                }
            },
            {
                source: 'vcf', target: 'featureX', style: {
                    lineDash: [4, 4], stroke: 'black',
                    lineWidth: 2
                }
            },
            { source: 'vcf', target: 'Feature Extract(GSCtool)' },
            {
                source: 'featureX', target: 'model', style: {
                    lineDash: [4, 4], stroke: 'black',
                    lineWidth: 2
                }
            },
            { source: 'Feature Extract(GSCtool)', target: 'model' },
            { source: 'Feature Extract(GSCtool)', target: 'predict' },
            { source: 'gsctool', target: 'model' },
            { source: 'gsctool', target: 'predict' },
        ],
    };

    graph.data(data);
    graph.render();

    graph.on('node:click', (e) => {
        const nodeId = e.item.getModel().id;
        switch (nodeId) {
            case 'gvcf':
                window.location.href = "{{ url_for('v1.download', species='rice') }}";
                break;
            case 'vcf':
                window.location.href = "{{ url_for('v1.download', species='rice') }}";
                break;
            case 'gsctool':
                window.location.href = "{{ url_for('v1.download', species='rice') }}";
                break;
            case 'Feature Extract(GSCtool)':
                window.location.href = "{{ url_for('v1.features') }}";
                break;
            case 'model':
                window.location.href = "{{ url_for('v1.model') }}";
                break;
            case 'predict':
                window.location.href = "{{ url_for('v1.predict') }}";
                break;
            // Add more cases for other nodes as needed
        }
    });
</script>


<!-- 内容结束 -->
{% endblock %}