{% extends 'layout.html' %}

{% block content %}
{% from 'bootstrap5/form.html' import render_field %}
<div class="container">
    <form method="POST" enctype="multipart/form-data">
        {{ form.csrf_token() }}
        <p>Upload Your <a href={{ url_for('v1.features') }}>GSCtool</a> features</p>
        <div class="form-group row">
            <label class="col-md-3 col-form-label text-md-end fw-bolder">Feature File:</label>
            <div class="col-md-6">
                {{ render_field(form.file, form_type='inline') }}
            </div>
        </div>
        {{ render_field(form.submit) }}
    </form>
</div>

{% endblock content %}