{% extends 'layout.html' %}

{% block script %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('v1.static', filename='js/echarts.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('v1.static', filename='js/china.js') }}"></script>
<!-- <script type="text/javascript"  src="{{ url_for('v1.static', filename='js/plotly.min.js') }}"></script> -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}


{% block content %}
<br>
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<!-- 作物不同年份种植情况 -->
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h4 sty>Rice G2P paired data</h4>
                </div>
                <div class="card-body">
                    <div id="rice_sun"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h4>Soybean G2P paired data</h4>
                </div>
                <div class="card-body">
                    <div id="soy_sun"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h4>Maize G2P paired data</h4>
                </div>
                <div class="card-body">
                    <div id="zea_sun"></div>
                </div>
            </div>
        </div>
    </div>

    
    <script type='text/javascript'>
        var graphs_rice = {{ sunfigs['rice'] | safe}};
        Plotly.plot('rice_sun', graphs_rice, {});

        var graphs_soy = {{ sunfigs['soy'] | safe}};
        Plotly.plot('soy_sun', graphs_soy, {});

        var graphs_zea = {{ sunfigs['zea'] | safe}};
        Plotly.plot('zea_sun', graphs_zea, {});
    </script>
    <!-- 不同年份种植 end -->
    <br>

    <!-- 性状关联图 star -->
    <div class="row">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link fs-4 active" data-bs-toggle="tab" href="#rice_traits">Rice Trait Correlations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fs-4" data-bs-toggle="tab" href="#soy_traits">Soy Trait Correlations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fs-4" data-bs-toggle="tab" href="#zea_traits">Maize Trait Correlations</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div id="rice_traits" style="width:1200px;height:1200px;" class="container tab-pane active"></div>
            <div id="zea_traits" style="width:1200px;height:1200px;" class="container tab-pane fade"></div>
            <div id="soy_traits" style="width:1200px;height:1200px;" class="container tab-pane fade"></div>
        </div>

        <script type='text/javascript'>
            var traits_rice = {{ correlations['rice'] | safe}};
            Plotly.plot('rice_traits', traits_rice, {});
    
            var traits_soy = {{ correlations['soy'] | safe}};
            Plotly.plot('soy_traits', traits_soy, {});
    
            var traits_zea = {{ correlations['zea'] | safe}};
            Plotly.plot('zea_traits', traits_zea, {});
        </script>
    </div>
    <!-- 性状关联图 end -->

    <!-- 种植分布图 start -->
    <div class="row">
        <div class="container col-lg-12">
            <br>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link fs-4 active" data-bs-toggle="tab" href="#rice">Rice</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-4" data-bs-toggle="tab" href="#soy">Soy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-4" data-bs-toggle="tab" href="#zea">Maize</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <br>
                <div id="rice" style="width:1200px;height:860px;" class="container tab-pane active"></div>
                <div id="zea" style="width:1200px;height:860px;" class="container tab-pane fade"></div>
                <div id="soy" style="width:1200px;height:860px;" class="container tab-pane fade"></div>
            </div>
            <script type="text/javascript">
                var ricemapChart = echarts.init(document.getElementById('rice'));
                var riceOption = {{ map_charts['rice'] | safe }};    
                ricemapChart.setOption(riceOption);
                
                var zeamapChart = echarts.init(document.getElementById('zea'));
                var zeaOption = {{ map_charts['zea'] | safe }};    
                zeamapChart.setOption(zeaOption);
                
                var soymapChart = echarts.init(document.getElementById('soy'));
                var soyOption = {{ map_charts['soy'] | safe }};    
                soymapChart.setOption(soyOption);


                // 获取所有包含 "南海诸岛" 文本的元素
                var elements = document.querySelectorAll(':contains("南海诸岛")');
                
                // 替换每个元素中的文本
                elements.forEach(function(element) {
                    element.innerText = element.innerText.replace(/南海诸岛/g, 'Nanhai Islands');
                });
                                            
            </script>
        </div>
    </div>
    <!-- 种植分布图 end -->



</div>




{% endblock content %}