{% extends 'layout.html' %}

{% block style %}
{{ super() }}
.custom-container {
width: 90%; /* 设置容器的宽度为 container-fluid 的85% */
margin-left: auto;
margin-right: auto;
/* 其他样式属性 */
}

{% endblock style %}

{% block script %}
{{ super() }}
<script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>
<script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/maps/china.js"></script>
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}


{% block content %}
<br>

<!-- 作物不同年份种植情况 -->
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h4 sty>Rice Planting Statistics</h4>
                </div>
                <div class="card-body">
                    <div id="rice_sun"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h4>Soybean Planting Statistics</h4>
                </div>
                <div class="card-body">
                    <div id="soy_sun"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h4>Corn Planting Statistics</h4>
                </div>
                <div class="card-body">
                    <div id="zea_sun"></div>
                </div>
            </div>
        </div>
    </div>


    <script type='text/javascript'>
        var graphs_rice = {{ sunfigs['rice'] | safe}};
        Plotly.plot('rice_sun', graphs_rice, {});

        var graphs_soy = {{ sunfigs['soy'] | safe}};
        Plotly.plot('soy_sun', graphs_soy, {});

        var graphs_zea = {{ sunfigs['zea'] | safe}};
        Plotly.plot('zea_sun', graphs_zea, {});
    </script>
    <!-- 不同年份种植 end -->
    <br>


    <div class="row">
        <div class="container col-lg-9">
            <br>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-bs-toggle="tab" href="#rice">rice</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#soy">soy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#zea">Zea</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <br>
                <div id="rice" style="width:1000px;height:700px;" class="container tab-pane active"> </div>
                <div id="zea" style="width:1000px;height:700px;" class="container tab-pane fade"></div>
                <div id="soy" style="width:1000px;height:700px;" class="container tab-pane fade"></div>
            </div>
            <script type="text/javascript">
                var ricemapChart = echarts.init(document.getElementById('rice'));
                var riceOption = {{ map_charts['rice'] | safe }};    
                ricemapChart.setOption(riceOption);
                
                var zeamapChart = echarts.init(document.getElementById('zea'));
                var zeaOption = {{ map_charts['zea'] | safe }};    
                zeamapChart.setOption(zeaOption);
                
                var soymapChart = echarts.init(document.getElementById('soy'));
                var soyOption = {{ map_charts['soy'] | safe }};    
                soymapChart.setOption(soyOption); 
                               
            </script>

        </div>
        <!-- 水稻在中国不同省份种植情况图 -->
        <div class="col-lg-3"></div>
    </div>

</div>




{% endblock content %}