{% extends 'layout.html' %}

{% block content %}
<div class="container mt-4">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <!-- 文件上传表单 -->
    <form method="POST" enctype="multipart/form-data" >
        {{ fileform.hidden_tag() }}
        <h3 class="text-info mb-3"><i class="fas fa-file-upload"></i> File Upload</h3>
        <div class="form-group mb-3 row">
            <div class="col-md-3 text-md-end col-form-label">
                <span style="color: red">*</span> Species: 
            </div>
            <div class="col-md-7">
                {{ fileform.species(class="form-select") }}
            </div>
        </div>
        
        <div class="form-group mb-3 row">
            <div class="col-md-3 text-md-end col-form-label">
                <span style="color: red">*</span> Phenotype:
            </div>
            <div class="col-md-7">
                {{ fileform.phenotype(class="form-control") }}
            </div>
        </div>
        
        <div class="form-group mb-3 row">
            <div class="col-md-3 text-md-end col-form-label">
                <span style="color: red">*</span> Reference Genome: 
            </div>
            <div class="col-md-7">
                {{ fileform.reference_genome(class="form-control") }}
            </div>
        </div>
        
        <div class="form-group mb-3 row">
            <div class="col-md-3 text-md-end col-form-label">
                Planting Region:
            </div>
            <div class="col-md-7">
                {{ fileform.planting_region(class="form-control") }}
            </div>
        </div>
        
        <div class="form-group mb-3 row">
            <div class="col-md-3 text-md-end col-form-label">
                Planting Year:
            </div>
            <div class="col-md-7">
                {{ fileform.planting_year(class="form-control") }}
            </div>
        </div>
        
        <div class="form-group mb-3 row">
            <div class="col-md-3 text-md-end col-form-label">
                <span style="color: red">*</span> Upload file:
            </div>
            <div class="col-md-7">
                {{ fileform.file(class="custom-file form-control", type="file") }}
            </div>
        </div>
        <div class="form-group mb-3 col-md-10 row text-md-end">
            <div class="col-md">
                <!-- 表单字段的内容 -->
                <button type="submit" class="btn btn-primary btn-md ml-auto">Upload</button>
            </div>
        </div>
        
    </form>
    <hr>
</div>

<div class="container mt-4">
    <!-- 仅填写信息表单 -->
    <h3 class="text-info mb-3"><i class="fas fa-info-circle"></i> Information Submission</h3>
    <form method="POST">
        <div class="form-group mb-3 row">
            <div class="col-md-3 text-md-end col-form-label">
                <span style="color: red">*</span> Article:
            </div>
            <div class="col-md-7">
                {{ infoform.article(class="form-control") }}
            </div>
        </div>
        
        <div class="form-group mb-3 row">
            <div class="col-md-3 text-md-end col-form-label">
                <span style="color: red">*</span> Bioproject:
            </div>
            <div class="col-md-7">
                {{ infoform.bioproject(class="form-control") }}
            </div>
        </div>
        
        <div class="form-group mb-3 row">
            <div class="col-md-3 text-md-end col-form-label">
                <span style="color: red">*</span> Species:
            </div>
            <div class="col-md-7">
                {{ infoform.specie(class="form-control") }}
            </div>
        </div>
        
        <div class="form-group mb-3 row">
            <div class="col-md-10 offset-md-3">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
        
      </form>
      


</div>
{% endblock content %}