# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\rice_docker\riceprediction\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
